

.instagram{
    padding-top: 35px;
    padding-bottom: 40px;
    p{
        font-size: 35px;
        margin-top: 35px;
        margin-bottom: 40px;
        margin-left: 600px;
    }
    .forimg{
        margin-left: 300px;
        img{
            margin-left: 65px;
        }
    }
    
}