.lorem{
    padding: 80px 110px;
    display: flex;
    justify-content: center;
    .card{
        margin-left: 40px;
        .card-header{
            width: 100px;
            height: 100px;
            background-color: #C4C4C4;
            border-radius: 50%;
            margin-bottom: 20px;
            margin-left: 70px;
        }
        .card-body{
            padding-right: 15px;
            p{
                font-size: 25px;
                color: #7C7676;
            }
        }
    }
}